bin/
build/
lib/
out/
tests/
testcache/
tests_old/
pickle/
pickle-old/
*/.undodir/
__Tagbar__.*
__pycache__/
docs-build/
docs/doxy/xml
tests_old/
testcache/
figures-old/
figures-backup/
figures/
log/
cysignals_crash_logs/
